html,body {  font-size:14px; height:100%;  }
.hover{ opacity: .8; }

.flex-wrap{ display: -webkit-box;	display: -webkit-flex;	display: flex; }
.flex-con{     -webkit-box-flex: 1;     -webkit-flex: 1;    flex: 1;}
.flex-vertical{ -webkit-box-orient: vertical;-webkit-flex-flow: column;flex-flow: column;}

.border-t,
.border-b{ position:relative;  }
.border-t:before,
.border-b:after{     content: '';     position: absolute;     left: 0;  top:0;     background: #ddd;   right:0;    height: 1px;     -webkit-transform: scaleY(0.5);             transform: scaleY(0.5);     -webkit-transform-origin: 0 0;             transform-origin: 0 0; }
.border-b:after{ top:auto; bottom:0;  }

#wrap{ height: 100%; }

/*table*/
        table {
            text-align: center;
            vertical-align: middle;
            border-collapse: collapse;
            position: relative;
            width: 300%;
        }

        table thead {
            height: 45px;
            background-color:#9fc5e8;
        }

        table td {
            border: 0;
            padding: 15px;
            position: relative;
        }

        table td::after {
            content: "";
            display: block;
            position: absolute;
            left: 0%;
            top: 0%;
            width: 200%;
            height: 200%;
            border: 1px solid #dad9d5;
            border-top: none;
            border-right: none;
            transform-origin: 0 0;
            transform: scale(0.5);
        }

        table::after {
            content: "";
            display: block;
            position: absolute;
            left: 0%;
            top: 0%;
            width: 200%;
            height: 200%;
            border: 1px solid #8be7e4;
            border-left: none;
            border-bottom: none;
            transform-origin: 0 0;
            transform: scale(0.5);
        }
